body {
  /*
  background-image: url(https://media.giphy.com/media/26u6cUpJ0x1svTdT2/giphy.gif);
  */
  background-color: #111;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

canvas {

  background-color: transparent;
  position: fixed;
}